# ignores all the following files:

2mdm_*
*.DS_Store
*.ipynb_checkpoints
*__pycache__
nohup.out
*.pyc
*.pkl
Tests/
slha_files*/
slha_files_extra/
slha_files_br_copy/
data/smodels_results/
notebooks/SmodelS/smodels.log

*.smodels
notebooks/Untitled.ipynb
data/smodels-results/results.pcl
