# ignores all the following files:

2mdm_*
*.DS_Store
*.ipynb_checkpoints
*__pycache__
nohup.out
*.pyc
*.pkl
*.pcl
Tests/
slha_files*/
slha_files_extra/
slha_files_br_copy/
data/smodels_results/
notebooks/SmodelS/smodels.log
*.slha
*.smodels
notebooks/Untitled.ipynb
data/smodels-results/results.pcl
*smodels_results/
*.crash
/scan/figures/ratios_wm.png
*smodels_results*/
*.pyc
